* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(137, 43, 226, 0.646); */
    background: linear-gradient(to bottom right, rgba(84, 83, 213, 1), rgba(252, 180, 180, 1))
}

.card {
    background-color: white;
    padding: 30px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
    position: relative;
}

.card-header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    color: rgba(84, 83, 213, 1);
}
.timmerspan{
    font-size: 30px;
   
}

hr {
    width: 85%;
    margin: auto;
}

.card-body {
    margin: 20px;
    margin-bottom: 50px;
}

.card-body .card-title {
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.card-body ul li {
    list-style: none;
    padding: 5px;
}

.answer {
    /* accent-color: blueviolet; */
    accent-color: rgba(84, 83, 213, 1);
}

.card-footer .btn {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 13px;
    width: 100%;
    border: none;
    /* background-color: blueviolet; */
    background-color: rgba(84, 83, 213, 1);
    color: white;
    font-size: 18px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.card-footer .btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

#alertsc {
    display: none;
}